services: 
  api:
    build: ./api
    ports:
      - "3000:3000"
    volumes:
      - ./api:/app

  frontend:
    build: ./client
    ports:
      - "8080:8080"
    volumes:
      - ./client:/app
    stdin_open: true
    tty: true

  
